husky_ws/build/
husky_ws/install/
husky_ws/log/

husky_ws/src/husky/
husky_ws/src/realsense-ros/

scripts/helpers/

**/maps/*
!**/maps/.gitkeep
*.db

__pycache__/
*.pyc
*.pyo

run.txt
*.log
.vscode/
.DS_Store